# dependencies
node_modules
.pnpm-store

# build output
dist
dist-ssr

# local env / logs
*.local
*.log
npm-debug.log*
yarn-error.log*

# editor / os
.DS_Store
.idea
.vscode/*
!.vscode/extensions.json
